<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>AATS</title>
    <!-- google-fonts -->
    <link
        href="//fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <!-- //google-fonts -->
    <!-- Font-Awesome-Icons-CSS -->
    <link rel="stylesheet" href="/static/home/assets/css/fontawesome-all.min.css">
    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="/static/home/assets/css/style-starter.css">
</head>

<body>
    <!--header-->
    <header id="site-header" class="fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg stroke px-0">

                        <a class="navbar-brand" href="#index.html">
        <img src="/static/home/assets/images/kmct .png" alt="Your logo" title="Your logo" style="height:70px;" />
    </a>
                <h1>
                    <a class="navbar-brand" href="#"></i>ATS
                    </a>
                </h1>


                <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
                    data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                    <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav ml-lg-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/myapp/hod_home/">Home <span class="sr-only">(current)</span></a>
                        </li>
{#                        <li class="nav-item">#}
{#                            <a class="nav-link" href="">Department Management</a>#}
{#                        </li>#}
                        <li class="nav-item">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Timetable <span class="fa fa-angle-down"></span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/myapp/add_timetable/">Add Timetable</a>
                                <a class="dropdown-item" href="/myapp/view_timetable/#about">View Timetable</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Students <span class="fa fa-angle-down"></span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/myapp/hod_add_student/#about">Add Student</a>
                                <a class="dropdown-item" href="/myapp/hod_view_student/#about">View Student</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Subjects <span class="fa fa-angle-down"></span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/myapp/hod_add_subject/#about">Add Subject</a>
                                <a class="dropdown-item" href="/myapp/hod_view_subject/#about">View Subjects</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Leave Requests</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Attendance</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Chats</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
  <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
</svg> <span class="fa fa-angle-down"></span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/myapp/view_profile/#about">Profile</a>
                                <a class="dropdown-item" href="/myapp/logout/"><i class="bi bi-person"></i>Logout</a>
                            </div>
                        </li>


                    </ul>
                </div>

                <!-- //toggle switch for light and dark theme -->
            </nav>
        </div>
    </header>    <!--//header-->
<!--//header-->


    <!-- //banner section -->

    <!-- 3grids section -->
    <section class="about-section py-5" id="about">
        <div class="container py-lg-5 py-4">
<br><br>

  <div class="container">
    <h1 class="text-center mb-4">Edit Student</h1><br>
    <form id="form1" name="form1" method="post" action="/myapp/edit_student_post/" enctype="multipart/form-data" class="mx-auto w-75">
      {% csrf_token %}
      <table class="table">
            <input type="hidden" name="id" value="{{ data2.LOGIN.id }}">
        <tr><th style="font-size: 30px;">Personal Details</th></tr>
          <tr>
            <td>
              <div class="mb-3">
                <label for="textfield" class="form-label">Name</label>
                <input type="text" name="textfield" id="textfield" class="form-control" value="{{ data2.student_name }}"/>
              </div>
              <div class="mb-3">
                <label for="photo" class="form-label">Photo</label>
                  <img src="{{ data2.student_photo }}" width="100" height="100">
                <input type="file" name="photo" class="form-control" accept="image/jpeg,image/png"/>
              </div>
              <div class="mb-3">
                <label for="textfield2" class="form-label">Date of Birth</label>
                <input type="date" name="textfield2" id="textfield2" class="form-control" min="1990-01-01" max="2019-12-31" required value="{{ data2.student_dob | date:'Y-m-d' }}"/>
              </div>
              <div class="mb-3">
                <label class="form-label">Gender</label><br>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="r1" id="male" value="Male" checked>
                  <label class="form-check-label" for="male" value="Male" {% if data2.gender == 'Male' %}checked{% endif %}>Male</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="r1" id="female" value="Female">
                  <label class="form-check-label" for="female" value="Female" {% if data2.gender == 'Female' %}checked{% endif %}>Female</label>
                </div>
              </div>
                <div class="mb-3">
                <label for="phone" class="form-label">Phone Number</label>
                <input type="number" name="textfield7" class="form-control" required pattern="[6789][0-9]{9}" id="phone" value="{{ data2.student_phone }}"/>
                    <div id="phoneval" style="color:red;"></div>
              </div>
                <div class="mb-3">
                <label for="phone" class="form-label">Parent Name</label>
                <input type="text" name="pname" class="form-control" value="{{ data2.parent_name }}"/>
              </div>
                <div class="mb-3">
                <label for="textfield3" class="form-label">House Name</label>
                <input type="text" name="textfield3" id="textfield3" class="form-control" value="{{ data2.student_house }}" />
              </div>
              <div class="mb-3">
                <label for="textfield4" class="form-label">Location</label>
                <input type="text" name="textfield4" id="textfield4" class="form-control" pattern="[A-Za-z.]{3,25}" value="{{ data2.student_location }}"/>
              </div>
              <div class="mb-3">
                <label for="textfield6" class="form-label">Pin</label>
                <input type="number" name="textfield6" id="textfield6" class="form-control" required pattern="[0-9]{6}" value="{{ data2.student_pincode }}"/>
              </div>
            </td>
          </tr>
        <tr><th style="font-size: 30px;">Academic Details</th></tr>
      <tr>
          <td>
              <div class="mb-3">
                <label for="select1" class="form-label">Department</label>
                <select name="select1" id="select1" class="form-select" required>
                  <option value="{{ data2.DEPARTMENT.id }}">{{ data1.dept_name }}</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="select2" class="form-label">Course</label>
                <select name="select2" id="select2" class="form-select" required>
                  {% for i in data3 %}
                  <option value="{{ i.id }}" {% if data2.department.id == i.id %} selected {% endif %}>{{ i.course_name }}</option>
                  {% endfor %}
                </select>
              </div>
           <div class="mb-3">
                <label for="textfield10" class="form-label">Semester</label>
                <input type="text" name="textfield10" id="textfield10" class="form-control" value="{{ data2.sem }}"/>
              </div>
          </td>
      </tr>
          <tr><th style="font-size: 30px;">Login Credentials</th></tr>
      <tr><td>
              <div class="mb-3">
                <label for="textfield8" class="form-label">Email Id</label>
                <input type="email" name="textfield8" id="email" class="form-control" required value="{{ data2.student_email }}"/>
                  <div id="uu" style="color:red;"></div>
              </div>
{#              <div class="mb-3">#}
{#                <label for="textfield9" class="form-label">Password</label>#}
{#                <input type="password" name="textfield9" id="textfield9" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required />#}
{#              </div>#}
            </td>
          </tr>
        </tbody>
      </table>
      <div class="text-center">
                 <button type="submit" name="button" id="button" value="Save" class="btn btn-info"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-save" viewBox="0 0 16 16">
  <path d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v7.293l2.646-2.647a.5.5 0 0 1 .708.708l-3.5 3.5a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L7.5 9.293V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1z"/>
</svg></button>
    </div>
    </form>
  </div>
</div>
    </section>

    <!-- footer -->
    <footer class="w3l-footer-29-main">
        <div class="footer-29 py-5">
            <div class="container py-lg-4">
                <div class="row footer-top-29">
{#                    <div class="col-lg-9">#}
{#                        <div class="row">#}
{#                            <div class="col-md-3 col-6 footer-list-29">#}
{#                                <ul>#}
{#                                    <h6 class="footer-title-29">Company</h6>#}
{#                                    <li><a href="services.html">About Our Services</a></li>#}
{#                                    <li><a href="#projects">Our Projects</a></li>#}
{#                                    <li><a href="#blog">View Our Blog</a></li>#}
{#                                    <li><a href="about.html">Check Our Careers</a></li>#}
{#                                </ul>#}
{#                            </div>#}
{#                            <div class="col-md-3 col-6 footer-list-29">#}
{#                                <ul>#}
{#                                    <h6 class="footer-title-29">Quick Links</h6>#}
{#                                    <li><a href="#management">Management</a></li>#}
{#                                    <li><a href="services.html">Department Services</a></li>#}
{#                                    <li><a href="#appointment">Make Appointment</a></li>#}
{#                                    <li><a href="about.html">Our Business Growth</a></li>#}
{#                                </ul>#}
{#                            </div>#}
{#                            <div class="col-md-3 col-6 footer-list-29 mt-md-0 mt-4">#}
{#                                <h6 class="footer-title-29">More Info</h6>#}
{#                                <ul>#}
{#                                    <li><a href="#privacy">Privacy Policy</a></li>#}
{#                                    <li><a href="#terms"> Terms of Service</a></li>#}
{#                                    <li><a href="contact.html">Contact us</a></li>#}
{#                                    <li><a href="#support"> Support</a></li>#}
{#                                </ul>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
                    <div class="col-lg-3 footer-contact-list mt-lg-0 mt-md-5 mt-4">
                        <img src="/static/login/kmctfooter.svg" alt="Your logo" title="Your logo" style="height:130px;" />

                        <div class="main-social-footer-29">

                        </div>
                        <!-- copyright -->
                        <p class="copy-footer-29 mt-4">© 2024 KMCTCE. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- //footer -->

    <!-- Js scripts -->
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
        <span class="fas fa-level-up-alt" aria-hidden="true"></span>
    </button>
    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <!-- //move top -->

    <!-- common jquery plugin -->
    <script src="/static/home/assets/js/jquery-3.3.1.min.js"></script>
    <!-- //common jquery plugin -->

    <!-- banner image moving effect -->
    <script>
        var lFollowX = 0,
            lFollowY = 0,
            x = 0,
            y = 0,
            friction = 1 / 30;

        function animate() {
            x += (lFollowX - x) * friction;
            y += (lFollowY - y) * friction;

            translate = 'translate(' + x + 'px, ' + y + 'px) scale(1.1)';

            $('.banner-image').css({
                '-webit-transform': translate,
                '-moz-transform': translate,
                'transform': translate
            });

            window.requestAnimationFrame(animate);
        }

        $(window).on('mousemove click', function (e) {

            var lMouseX = Math.max(-100, Math.min(100, $(window).width() / 2 - e.clientX));
            var lMouseY = Math.max(-100, Math.min(100, $(window).height() / 2 - e.clientY));
            lFollowX = (20 * lMouseX) / 100; // 100 : 12 = lMouxeX : lFollow
            lFollowY = (10 * lMouseY) / 100;

        });

        animate();
    </script>
    <!-- //banner image moving effect -->

    <!-- magnific popup -->
    <script src="/static/home/assets/js/jquery.magnific-popup.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.popup-with-zoom-anim').magnificPopup({
                type: 'inline',

                fixedContentPos: false,
                fixedBgPos: true,

                overflowY: 'auto',

                closeBtnInside: true,
                preloader: false,

                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });

            $('.popup-with-move-anim').magnificPopup({
                type: 'inline',

                fixedContentPos: false,
                fixedBgPos: true,

                overflowY: 'auto',

                closeBtnInside: true,
                preloader: false,

                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-slide-bottom'
            });
        });
    </script>
    <!-- //magnific popup -->

    <!-- theme switch js (light and dark)-->
    <script src="/static/home/assets/js/theme-change.js"></script>
    <!-- //theme switch js (light and dark)-->

    <!-- MENU-JS -->
    <script>
        $(window).on("scroll", function () {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function () {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function () {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });
    </script>
    <!-- //MENU-JS -->

    <!-- disable body scroll which navbar is in active -->
    <script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
    <!-- //disable body scroll which navbar is in active -->

    <!-- bootstrap -->
    <script src="/static/home/assets/js/bootstrap.min.js"></script>
    <!-- //bootstrap -->
    <!-- //Js scripts -->
</body>

{#<script src="/static/jquery/jquery.js" type= "application/javascript"></script>#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>#}
{#<script>#}
{#   $(document).ready(function () {#}
{##}
{#           $("#button").hide();#}
{##}
{#           //email validation#}
{#           $("#email").keyup(function () {#}
{#               var a = $("#email").val();#}
{#               $.ajax({#}
{#                   url: '/myapp/reg/',#}
{#                   method: 'POST',#}
{#                   data: {'textfield8': a},#}
{#                   success: function (data) {#}
{#                       if (data.status === 'True') {#}
{#                           $("#button").hide();#}
{#                           document.getElementById('uu').textContent = 'E-mail already exists';#}
{#                       } else {#}
{#                           document.getElementById('uu').style.color='green'#}
{#                           document.getElementById('uu').textContent = '';#}
{##}
{#                           $("#button").show();#}
{#                       }#}
{#                   }#}
{#               });#}
{#           });#}
{##}
{#       });#}
{##}
{##}
{##}
{#   $(document).ready(function () {#}
{##}
{#           $("#button").hide();#}
{##}
{#           //phone validation#}
{##}
{#           $("#phone").keyup(function () {#}
{#               var a = $("#phone").val();#}
{#               var phoneno = /^\(?([6-9]{1})\)?([0-9]{9})$/;#}
{#                 var phoneno = new RegExp('[6-9][0-9]{9}$');#}
{##}
{#                 if (!phoneno.test(a)) {#}
{#                    document.getElementById('phoneval').textContent = 'Phone number should be 10 digit and start with numbers 6-9';#}
{#                 }#}
{#                 else {document.getElementById('phoneval').textContent = '';}#}
{##}
{##}
{#           });#}
{##}
{##}
{#       });#}
{##}
{##}
{##}
{#</script>#}
{##}
{##}
</html>