<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<a href="/myapp/view_dept/">View Department</a><br />
<a href="/myapp/add_dept/">Add Department</a><br />
<a href="/myapp/view_course/">View Course</a><br />
<a href="/myapp/add_course/">Add Course</a><br />
<a href="#">View Student</a><br />
<a href="#">Add Student</a><br />
<a href="#">View Staff</a><br />
<a href="#">Add Staff</a><br />

<a href="#">View Subject</a><br />
<a href="#">Add Subject</a><br />

<a href="#">Feedbacks</a><br />
<a href="#">Logout</a><br />

</body>
</html>
