{% extends 'admin/admin_home_index1.html' %}
{% block body %}
<body>
<br><br>

<h1 align="center">Edit Course</h1><br>
<form id="form1" name="form1" method="post" action="/myapp/edit_course_post/">
    {% csrf_token %}
  <table class="table table-bordered">
    <tr>
      <th>Course Name</th>
      <td><label for="textfield"></label>
          <input type="hidden" name="id" value="{{ data.id }}" id="textfield"/>
      <input type="text" name="textfield" value="{{ data.course_name }}" id="textfield"  class="form-control" required />
      </td>
    </tr>
    <tr>
      <th>Department</th>
      <td><label for="select"></label>

        <select name="select" id="select" class="form-control" required>
                    <option value="{{ data.DEPARTMENT.id }}">{{ data.DEPARTMENT.dept_name }}</option>

            {% for i in dep %}

            <option value="{{ i.id }}">{{ i.dept_name }}</option>
            {% endfor %}

      </select></td>
    </tr>
    <tr>
      <th>Duration</th>
      <th><label for="textfield2"></label>
      <input type="number" name="textfield2"  value="{{ data.duration }}" id="textfield2" class="form-control" required/>
    </tr>
    <tr>
      <td align="center" colspan="3"><input type="submit" name="button" id="button" value="Save" class="btn btn-info" #about/></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
