{% extends 'admin/admin_home_index1.html' %}
{% block body %}
<body>
<br><br>

<form id="form1" name="form1" method="post" action="/myapp/edit_dept_post/">
    {% csrf_token %}
    <h1 align="center">Edit Department</h1><br>
  <table class="table table-bordered">
    <tr>
      <th align="center" colspan="2">Department Name</th>
         <td><label for="textfield"></label>
      <input type="text" name="textfield" value="{{ data.dept_name }}" id="textfield" class="form-control" required/>
      <input type="hidden" name="id" value="{{ data.id }}" id="textfield" />
      </td>
    </tr>
      <tr>
        <th align="center" colspan="2">Description</th>
        <td>
          <textarea name="desc" rows="3" cols="40" >{{ data.description }}</textarea>
        </td>
      </tr>
    <tr>
      <td align="center" colspan="3"><input type="submit" name="Save" id="Save" value="Submit" class="btn btn-info"/></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
